*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 1128px) {
    html {
      font-size: 60%; } }
  @media only screen and (max-width: 800px) {
    html {
      font-size: 55%; } }
  @media only screen and (max-width: 678px) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 425px) {
    html {
      font-size: 45%; } }

body {
  font-family: "futura-pt", sans-serif;
  font-size: 1rem !important;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6rem; }
  body .h1-font-size {
    font-size: 7.4rem;
    text-transform: uppercase; }
  body .h3-font-size {
    font-size: 4.8rem; }
  body .h4-font-size {
    font-size: 4.4rem; }
  body .h5-font-size {
    font-size: 2.4rem;
    text-transform: uppercase; }
  body .hidden {
    display: none !important; }

/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop
ORDER: Base + typography > general layout + grid > page layout > components
1em = 16px
*/
.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "futura-pt", sans-serif;
  font-weight: 400; }

.heading-1 {
  font-size: 4.5rem;
  color: #f9f7f6;
  line-height: 1; }

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1; }
  .heading-2--light {
    color: #f9f7f6; }
  .heading-2--dark {
    color: #54483A; }

.heading-3 {
  font-size: 1.6rem;
  color: #00a8b6;
  text-transform: uppercase; }

.heading-4 {
  font-size: 1.9rem; }
  .heading-4--light {
    color: #f9f7f6; }
  .heading-4--dark {
    color: #54483A; }

.btn {
  background-color: #00a8b6;
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: "futura-pt", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all .2s; }
  .btn:hover {
    background-color: #00a8b5; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

#aharonov_effect-article.article-container .aharonov-title__container {
  display: grid;
  grid-template-rows: repeat(5, auto);
  grid-template-columns: 55% 45%;
  grid-auto-rows: 0;
  grid-auto-columns: 0;
  height: 78em;
  font-size: 1rem; }
  @media only screen and (max-width: 1500px) {
    #aharonov_effect-article.article-container .aharonov-title__container {
      grid-template-columns: 60% 40%; } }
  @media only screen and (max-width: 1000px) {
    #aharonov_effect-article.article-container .aharonov-title__container {
      font-size: .95rem;
      grid-template-rows: repeat(3, 15%) 25% 30%;
      grid-template-columns: 65% 35%; } }
  @media only screen and (max-width: 800px) {
    #aharonov_effect-article.article-container .aharonov-title__container {
      grid-template-rows: repeat(4, 0.25fr) 0.5fr;
      grid-template-columns: 55% 45%;
      font-size: .9rem; } }
  @media only screen and (max-width: 678px) {
    #aharonov_effect-article.article-container .aharonov-title__container {
      height: 46em;
      font-size: .8rem; } }
  @media only screen and (max-width: 425px) {
    #aharonov_effect-article.article-container .aharonov-title__container {
      height: 45rem;
      font-size: .75rem; } }
  #aharonov_effect-article.article-container .aharonov-title__container img {
    grid-row: 1 / span 5;
    grid-column: 1 / span 2;
    object-fit: contain;
    height: 100%;
    width: auto;
    margin: 0 auto; }
    @media only screen and (max-width: 1000px) {
      #aharonov_effect-article.article-container .aharonov-title__container img {
        height: 88%; } }
    @media only screen and (max-width: 678px) {
      #aharonov_effect-article.article-container .aharonov-title__container img {
        height: 95%; } }
    @media only screen and (max-width: 425px) {
      #aharonov_effect-article.article-container .aharonov-title__container img {
        height: 90%; } }
  #aharonov_effect-article.article-container .aharonov-title__container span {
    z-index: 10; }
  #aharonov_effect-article.article-container .aharonov-title__container span p {
    font-size: 12em;
    font-weight: 500;
    font-family: futura-pt-condensed;
    line-height: .75;
    color: #a50034;
    text-transform: uppercase; }
    @media only screen and (max-width: 678px) {
      #aharonov_effect-article.article-container .aharonov-title__container span p {
        font-size: 8em; } }
  #aharonov_effect-article.article-container .aharonov-title__container span:first-child, #aharonov_effect-article.article-container .aharonov-title__container span:nth-child(2) {
    align-self: center;
    width: 40em;
    margin-left: 55%; }
    @media only screen and (max-width: 1500px) {
      #aharonov_effect-article.article-container .aharonov-title__container span:first-child, #aharonov_effect-article.article-container .aharonov-title__container span:nth-child(2) {
        margin-left: 50%; } }
    @media only screen and (max-width: 1300px) {
      #aharonov_effect-article.article-container .aharonov-title__container span:first-child, #aharonov_effect-article.article-container .aharonov-title__container span:nth-child(2) {
        margin-left: 40%; } }
    @media only screen and (max-width: 1000px) {
      #aharonov_effect-article.article-container .aharonov-title__container span:first-child, #aharonov_effect-article.article-container .aharonov-title__container span:nth-child(2) {
        margin-left: 24%; } }
    @media only screen and (max-width: 800px) {
      #aharonov_effect-article.article-container .aharonov-title__container span:first-child, #aharonov_effect-article.article-container .aharonov-title__container span:nth-child(2) {
        margin-left: 15%; } }
    @media only screen and (max-width: 678px) {
      #aharonov_effect-article.article-container .aharonov-title__container span:first-child, #aharonov_effect-article.article-container .aharonov-title__container span:nth-child(2) {
        margin-left: 35%; } }
    @media only screen and (max-width: 425px) {
      #aharonov_effect-article.article-container .aharonov-title__container span:first-child, #aharonov_effect-article.article-container .aharonov-title__container span:nth-child(2) {
        width: 19rem;
        margin-left: 22%; } }
  #aharonov_effect-article.article-container .aharonov-title__container span:first-child {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1; }
  #aharonov_effect-article.article-container .aharonov-title__container span:nth-child(2) {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1; }
  #aharonov_effect-article.article-container .aharonov-title__container span:nth-child(3) {
    grid-row: 3 / span 1;
    grid-column: 2 / span 1; }
    #aharonov_effect-article.article-container .aharonov-title__container span:nth-child(3) p {
      color: white; }

#aharonov_effect-article.article-container .aharonov-title__author {
  grid-row: 4 / span 1;
  grid-column: 2 / span 1;
  color: white;
  font-size: 2.7em;
  text-transform: uppercase; }
  @media only screen and (max-width: 1000px) {
    #aharonov_effect-article.article-container .aharonov-title__author {
      font-size: 2.5em; } }
  @media only screen and (max-width: 678px) {
    #aharonov_effect-article.article-container .aharonov-title__author {
      align-self: center;
      justify-self: flex-start;
      margin: 0;
      margin-right: 0;
      font-size: 3.2em; } }
  @media only screen and (max-width: 425px) {
    #aharonov_effect-article.article-container .aharonov-title__author {
      font-size: 2.6em; } }

#aharonov_effect-article.article-container .aharonov-title__description {
  grid-row: 5 / span 1;
  grid-column: 2 / span 1;
  align-self: center;
  justify-self: flex-start;
  width: 19em;
  margin-left: 7em;
  color: black;
  font-size: 1.6em;
  font-weight: 500;
  font-family: 'futura-pt';
  line-height: 1.25em;
  text-transform: uppercase; }
  @media only screen and (max-width: 1000px) {
    #aharonov_effect-article.article-container .aharonov-title__description {
      align-self: flex-start;
      justify-self: flex-end;
      margin: 0;
      width: 18em; } }
  @media only screen and (max-width: 800px) {
    #aharonov_effect-article.article-container .aharonov-title__description {
      margin-top: 0; } }
  @media only screen and (max-width: 678px) {
    #aharonov_effect-article.article-container .aharonov-title__description {
      justify-self: center;
      align-self: center;
      margin: 0 0 0 2em;
      font-size: 1.4em;
      width: 13em; } }
  @media only screen and (max-width: 425px) {
    #aharonov_effect-article.article-container .aharonov-title__description {
      margin: 0 0 0 0;
      width: 12em;
      font-size: 1.2em;
      align-self: center; } }

@media only screen and (max-width: 800px) {
  #aharonov_effect-article.article-container .aharonov-title__desktop-img {
    display: none; } }

#aharonov_effect-article.article-container .aharonov-title__mobile-img {
  display: none; }
  @media only screen and (max-width: 800px) {
    #aharonov_effect-article.article-container .aharonov-title__mobile-img {
      display: block; } }

#aharonov_effect-article.article-container {
  position: relative;
  z-index: 1;
  font-size: 1rem; }
  #aharonov_effect-article.article-container .aharonov-effect__article-content {
    display: grid;
    grid-template-columns: 25% 45% 30%;
    grid-auto-columns: 0;
    column-gap: 2rem;
    padding: 0 2rem;
    font-size: 1rem;
    z-index: 5; }
    @media only screen and (max-width: 1000px) {
      #aharonov_effect-article.article-container .aharonov-effect__article-content {
        grid-template-columns: 20% 60% 20%;
        font-size: .9rem; } }
    @media only screen and (max-width: 678px) {
      #aharonov_effect-article.article-container .aharonov-effect__article-content {
        display: flex;
        flex-direction: column;
        padding: 0 3rem; } }
    #aharonov_effect-article.article-container .aharonov-effect__article-content p,
    #aharonov_effect-article.article-container .aharonov-effect__article-content h3 {
      grid-column: 2 / span 1;
      line-height: 1.75;
      width: 100%;
      justify-self: center; }
    #aharonov_effect-article.article-container .aharonov-effect__article-content h3 {
      color: #a50034;
      font-size: 2.5em; }
    #aharonov_effect-article.article-container .aharonov-effect__article-content p,
    #aharonov_effect-article.article-container .aharonov-effect__article-content figcaption {
      font-size: 1.6em; }
    #aharonov_effect-article.article-container .aharonov-effect__article-content p {
      margin: 1em 0; }
    #aharonov_effect-article.article-container .aharonov-effect__article-content .aharonov-effect__callout.one, #aharonov_effect-article.article-container .aharonov-effect__article-content .aharonov-effect__callout.two {
      grid-column: 3 / span 1;
      width: 25em;
      color: #a50034;
      text-transform: uppercase;
      font-size: 1.25em;
      font-style: italic;
      line-height: 1.2;
      padding-right: 2rem; }
      @media only screen and (max-width: 1000px) {
        #aharonov_effect-article.article-container .aharonov-effect__article-content .aharonov-effect__callout.one, #aharonov_effect-article.article-container .aharonov-effect__article-content .aharonov-effect__callout.two {
          width: 16em;
          padding-right: 0rem; } }
      @media only screen and (max-width: 800px) {
        #aharonov_effect-article.article-container .aharonov-effect__article-content .aharonov-effect__callout.one, #aharonov_effect-article.article-container .aharonov-effect__article-content .aharonov-effect__callout.two {
          width: 11em; } }
      @media only screen and (max-width: 678px) {
        #aharonov_effect-article.article-container .aharonov-effect__article-content .aharonov-effect__callout.one, #aharonov_effect-article.article-container .aharonov-effect__article-content .aharonov-effect__callout.two {
          width: 100%;
          text-align: center; } }
      #aharonov_effect-article.article-container .aharonov-effect__article-content .aharonov-effect__callout.one p, #aharonov_effect-article.article-container .aharonov-effect__article-content .aharonov-effect__callout.two p {
        position: relative;
        padding-left: 3rem;
        border-left: 1rem solid #a50034; }
        @media only screen and (max-width: 678px) {
          #aharonov_effect-article.article-container .aharonov-effect__article-content .aharonov-effect__callout.one p, #aharonov_effect-article.article-container .aharonov-effect__article-content .aharonov-effect__callout.two p {
            border: none;
            padding-left: 0; } }
        #aharonov_effect-article.article-container .aharonov-effect__article-content .aharonov-effect__callout.one p svg, #aharonov_effect-article.article-container .aharonov-effect__article-content .aharonov-effect__callout.two p svg {
          height: 2rem; }
        #aharonov_effect-article.article-container .aharonov-effect__article-content .aharonov-effect__callout.one p svg:first-child, #aharonov_effect-article.article-container .aharonov-effect__article-content .aharonov-effect__callout.two p svg:first-child {
          margin-top: -2rem; }
        #aharonov_effect-article.article-container .aharonov-effect__article-content .aharonov-effect__callout.one p svg:last-child, #aharonov_effect-article.article-container .aharonov-effect__article-content .aharonov-effect__callout.two p svg:last-child {
          margin-bottom: -1rem; }
    #aharonov_effect-article.article-container .aharonov-effect__article-content .aharonov-effect__callout.one {
      grid-row: auto / span 4; }
    #aharonov_effect-article.article-container .aharonov-effect__article-content .aharonov-effect__callout.two {
      grid-row: 15 / span 4; }
      @media only screen and (max-width: 800px) {
        #aharonov_effect-article.article-container .aharonov-effect__article-content .aharonov-effect__callout.two {
          width: 60%;
          margin: auto; } }
      #aharonov_effect-article.article-container .aharonov-effect__article-content .aharonov-effect__callout.two span {
        display: block; }
    #aharonov_effect-article.article-container .aharonov-effect__article-content .aharonov-effect__article-figure.one {
      grid-row: auto / span 5;
      grid-column: 1 / span 1;
      width: 100%; }
      @media only screen and (max-width: 678px) {
        #aharonov_effect-article.article-container .aharonov-effect__article-content .aharonov-effect__article-figure.one {
          display: flex;
          flex-direction: column; } }
      #aharonov_effect-article.article-container .aharonov-effect__article-content .aharonov-effect__article-figure.one img {
        width: 100%; }
      #aharonov_effect-article.article-container .aharonov-effect__article-content .aharonov-effect__article-figure.one figcaption {
        width: 100%;
        background-color: #a50034;
        color: white;
        font-style: italic;
        padding: 1em; }
    #aharonov_effect-article.article-container .aharonov-effect__article-content .aharonov-effect__article-figure.two {
      grid-column: 1 / span 3;
      display: flex;
      width: 95%;
      margin: 3em 0;
      font-size: .9rem; }
      @media only screen and (max-width: 1000px) {
        #aharonov_effect-article.article-container .aharonov-effect__article-content .aharonov-effect__article-figure.two {
          font-size: .7rem; } }
      @media only screen and (max-width: 800px) {
        #aharonov_effect-article.article-container .aharonov-effect__article-content .aharonov-effect__article-figure.two {
          width: 95%; } }
      @media only screen and (max-width: 678px) {
        #aharonov_effect-article.article-container .aharonov-effect__article-content .aharonov-effect__article-figure.two {
          flex-direction: column;
          align-items: center;
          width: 100%;
          font-size: .4rem; } }
      #aharonov_effect-article.article-container .aharonov-effect__article-content .aharonov-effect__article-figure.two img {
        width: 90.8em;
        height: auto;
        object-fit: cover; }
        @media only screen and (max-width: 1000px) {
          #aharonov_effect-article.article-container .aharonov-effect__article-content .aharonov-effect__article-figure.two img {
            width: 68.8em; } }
        @media only screen and (max-width: 800px) {
          #aharonov_effect-article.article-container .aharonov-effect__article-content .aharonov-effect__article-figure.two img {
            width: 65em; } }
        @media only screen and (max-width: 678px) {
          #aharonov_effect-article.article-container .aharonov-effect__article-content .aharonov-effect__article-figure.two img {
            width: 47rem; } }
        @media only screen and (max-width: 425px) {
          #aharonov_effect-article.article-container .aharonov-effect__article-content .aharonov-effect__article-figure.two img {
            width: 38rem; } }
      #aharonov_effect-article.article-container .aharonov-effect__article-content .aharonov-effect__article-figure.two figcaption {
        height: 39em;
        width: 27.3em;
        margin: -2em 0 0 -2em;
        padding: 6.5em 3em;
        border: 10px solid #a10054; }
        @media only screen and (max-width: 1300px) {
          #aharonov_effect-article.article-container .aharonov-effect__article-content .aharonov-effect__article-figure.two figcaption {
            margin: -2em 0 0 -9em; } }
        @media only screen and (max-width: 678px) {
          #aharonov_effect-article.article-container .aharonov-effect__article-content .aharonov-effect__article-figure.two figcaption {
            border: none;
            height: auto;
            font-size: 5em;
            width: 90%;
            margin: 0;
            padding: 0; } }
        #aharonov_effect-article.article-container .aharonov-effect__article-content .aharonov-effect__article-figure.two figcaption span:first-child {
          display: block;
          position: relative;
          margin: 1.5em 0;
          font-size: 1.25em;
          font-weight: 400;
          line-height: 1.5em;
          text-transform: uppercase;
          color: #a50034; }
          @media only screen and (max-width: 678px) {
            #aharonov_effect-article.article-container .aharonov-effect__article-content .aharonov-effect__article-figure.two figcaption span:first-child {
              margin: 2.5em 0;
              text-align: center;
              font-style: italic;
              margin-bottom: 1em; }
              #aharonov_effect-article.article-container .aharonov-effect__article-content .aharonov-effect__article-figure.two figcaption span:first-child:before, #aharonov_effect-article.article-container .aharonov-effect__article-content .aharonov-effect__article-figure.two figcaption span:first-child:after {
                content: '"';
                font-size: inherit; } }
          #aharonov_effect-article.article-container .aharonov-effect__article-content .aharonov-effect__article-figure.two figcaption span:first-child svg:first-child {
            height: 1.6em;
            position: absolute;
            top: -1.5em;
            left: -1.5em; }
            @media only screen and (max-width: 678px) {
              #aharonov_effect-article.article-container .aharonov-effect__article-content .aharonov-effect__article-figure.two figcaption span:first-child svg:first-child {
                display: none; } }
          #aharonov_effect-article.article-container .aharonov-effect__article-content .aharonov-effect__article-figure.two figcaption span:first-child svg:last-child {
            height: 1.6em;
            position: absolute;
            bottom: -1em;
            left: 6.5em; }
            @media only screen and (max-width: 678px) {
              #aharonov_effect-article.article-container .aharonov-effect__article-content .aharonov-effect__article-figure.two figcaption span:first-child svg:last-child {
                display: none; } }
        #aharonov_effect-article.article-container .aharonov-effect__article-content .aharonov-effect__article-figure.two figcaption span:last-child {
          display: block;
          line-height: 1.25; }
    #aharonov_effect-article.article-container .aharonov-effect__article-content .aharonov-effect__article-shapes {
      grid-column: 3 / span 1;
      grid-row: auto / span 3;
      height: 24em;
      width: 24em; }
      #aharonov_effect-article.article-container .aharonov-effect__article-content .aharonov-effect__article-shapes svg {
        height: 100%; }

.entry-header {
  display: none; }

.space-article {
  display: grid;
  grid-template-columns: 25% 45% 30%;
  grid-auto-columns: 0;
  column-gap: 2rem;
  font-size: 1rem;
  z-index: 5;
  padding: 10em 2rem;
  position: relative;
  overflow: hidden; }
  @media only screen and (max-width: 1000px) {
    .space-article {
      grid-template-columns: 20% 60% 20%;
      font-size: .9rem; } }
  @media only screen and (max-width: 678px) {
    .space-article {
      display: flex;
      flex-direction: column;
      padding: 10em 3rem; } }
  .space-article p,
  .space-article h3 {
    grid-column: 2 / span 1;
    line-height: 1.75;
    width: 100%;
    justify-self: center;
    color: white; }
  .space-article p,
  .space-article figcaption {
    font-size: 1.6em; }
  .space-article p {
    margin: 1em 0; }
  .space-article h3 {
    font-size: 2.5em; }
    .space-article h3.aharonov_effect__article-subheading {
      padding-left: 1rem;
      border-left: 1rem solid #a50034; }
  .space-article .aharonov-effect__article-figure.three {
    grid-column: 1 / span 3;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: 24% 45% 30%;
    grid-auto-columns: 0;
    column-gap: 2rem;
    margin: 0 2rem;
    row-gap: 7rem; }
    @media only screen and (max-width: 1000px) {
      .space-article .aharonov-effect__article-figure.three {
        grid-template-columns: 18% 60% 20%; } }
    @media only screen and (max-width: 678px) {
      .space-article .aharonov-effect__article-figure.three {
        grid-template-columns: 24% 38% 32%;
        width: 100%;
        padding: 0;
        padding-top: 10rem;
        margin: 0; } }
    @media only screen and (max-width: 425px) {
      .space-article .aharonov-effect__article-figure.three {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-left: none; } }
    .space-article .aharonov-effect__article-figure.three .square {
      background-color: #a50034;
      width: 85%;
      margin-left: -15rem; }
      @media only screen and (max-width: 1300px) {
        .space-article .aharonov-effect__article-figure.three .square {
          margin-left: -10rem;
          height: 55%; } }
      @media only screen and (max-width: 678px) {
        .space-article .aharonov-effect__article-figure.three .square {
          grid-column: 1 / span 2;
          grid-row: 1 / span 1;
          width: 2%;
          height: 70%;
          margin-left: 0; } }
    .space-article .aharonov-effect__article-figure.three figure {
      grid-row: 1 / span 1;
      grid-column: 2 / span 1;
      width: 35%;
      justify-self: flex-end;
      display: flex;
      justify-content: flex-end;
      align-self: flex-start; }
      @media only screen and (max-width: 1300px) {
        .space-article .aharonov-effect__article-figure.three figure {
          width: 45%;
          margin-right: -15rem; } }
      @media only screen and (max-width: 678px) {
        .space-article .aharonov-effect__article-figure.three figure {
          grid-row: 1 / span 2;
          grid-column: 3 / span 1;
          align-self: flex-start;
          width: 100%;
          margin-right: 0; } }
      @media only screen and (max-width: 425px) {
        .space-article .aharonov-effect__article-figure.three figure {
          width: 60%;
          margin: auto;
          margin-bottom: 2rem; } }
      .space-article .aharonov-effect__article-figure.three figure .image-holder {
        width: 90%;
        margin-left: 3rem; }
        @media only screen and (max-width: 800px) {
          .space-article .aharonov-effect__article-figure.three figure .image-holder {
            width: 100%;
            margin-left: 0; } }
    .space-article .aharonov-effect__article-figure.three img {
      height: 100%;
      max-height: 33rem;
      width: 100%;
      object-fit: cover;
      object-position: top; }
      @media only screen and (max-width: 425px) {
        .space-article .aharonov-effect__article-figure.three img {
          width: 100%;
          object-fit: contain; } }
    .space-article .aharonov-effect__article-figure.three h3 {
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      font-size: 3.2em;
      grid-row: 1 / span 1;
      grid-column: 2 / span 1;
      width: 65%;
      align-self: flex-start;
      justify-self: flex-start;
      font-size: 3.25em;
      height: 100%; }
      @media only screen and (max-width: 678px) {
        .space-article .aharonov-effect__article-figure.three h3 {
          grid-column: 1 / span 2;
          width: 95%;
          justify-self: flex-end; } }
      @media only screen and (max-width: 425px) {
        .space-article .aharonov-effect__article-figure.three h3 {
          flex-direction: row;
          flex-wrap: wrap;
          margin: 2em 0;
          width: 100%; } }
      .space-article .aharonov-effect__article-figure.three h3 span:nth-child(2) {
        font-size: 1.1em;
        margin-bottom: 11rem; }
        @media only screen and (max-width: 800px) {
          .space-article .aharonov-effect__article-figure.three h3 span:nth-child(2) {
            margin-bottom: 5rem; } }
        @media only screen and (max-width: 678px) {
          .space-article .aharonov-effect__article-figure.three h3 span:nth-child(2) {
            margin-bottom: 2rem; } }
      @media only screen and (max-width: 678px) {
        .space-article .aharonov-effect__article-figure.three h3 span:nth-child(3) {
          font-size: .75em; } }
    .space-article .aharonov-effect__article-figure.three figcaption {
      width: auto;
      background-color: #a50034;
      color: white;
      font-style: italic;
      padding: 1em; }
    @media only screen and (max-width: 1300px) {
      .space-article .aharonov-effect__article-figure.three p {
        margin-left: -16px; } }
    @media only screen and (max-width: 1000px) {
      .space-article .aharonov-effect__article-figure.three p {
        margin-left: 0; } }
    @media only screen and (max-width: 678px) {
      .space-article .aharonov-effect__article-figure.three p {
        grid-column: 1 / span 2;
        align-self: flex-end; } }
  .space-article .dark-bg {
    position: absolute;
    left: 0;
    height: 100%;
    width: 120%;
    background-color: #231f20;
    z-index: -1; }
  .space-article .dark-bg-square {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 12em;
    width: 13em;
    border-top: 0.5em solid #a50034;
    border-left: 0.5em solid #a50034; }
    @media only screen and (max-width: 678px) {
      .space-article .dark-bg-square {
        display: none; } }
  .space-article .aharonov_effect__article-subheading.light {
    color: white; }

.aharonov-effect__article-theory-box {
  grid-column: 1 / span 3;
  justify-self: center;
  width: 90%;
  height: auto;
  position: relative;
  font-size: 1em;
  margin-bottom: 4em; }
  @media only screen and (max-width: 678px) {
    .aharonov-effect__article-theory-box {
      width: 100vw;
      margin-left: -2.5rem;
      font-size: .55rem; } }
  .aharonov-effect__article-theory-box h3 {
    width: 75%;
    margin: 1em auto;
    font-size: 2.4em;
    text-align: center;
    color: #a50034; }
  .aharonov-effect__article-theory-box .theory-listing {
    display: flex;
    justify-content: center; }
    .aharonov-effect__article-theory-box .theory-listing ul {
      position: relative;
      width: 20em;
      height: 100%;
      font-size: 1em;
      list-style-type: none;
      width: 20%; }
      @media only screen and (max-width: 678px) {
        .aharonov-effect__article-theory-box .theory-listing ul {
          width: 30%; } }
      .aharonov-effect__article-theory-box .theory-listing ul li {
        display: flex;
        align-items: center;
        height: 3.5em;
        margin: 1em 0;
        font-size: 1.6em;
        text-transform: uppercase;
        font-weight: 500;
        color: black; }
        .aharonov-effect__article-theory-box .theory-listing ul li:first-child {
          margin-top: 0; }
        .aharonov-effect__article-theory-box .theory-listing ul li:hover {
          cursor: pointer; }
        .aharonov-effect__article-theory-box .theory-listing ul li.active {
          background-color: #a50034;
          color: white; }
        .aharonov-effect__article-theory-box .theory-listing ul li::before {
          content: '';
          display: inline-block;
          margin-right: .5em;
          color: #a50034;
          height: inherit;
          border-left: 10px solid #a50034; }
        .aharonov-effect__article-theory-box .theory-listing ul li.active {
          background-color: #a50034; }
          .aharonov-effect__article-theory-box .theory-listing ul li.active p {
            color: white; }
    .aharonov-effect__article-theory-box .theory-listing p {
      font-size: 1.8em;
      font-weight: 400;
      height: auto;
      margin: 0;
      color: black; }
    .aharonov-effect__article-theory-box .theory-listing-details {
      width: auto; }
      @media only screen and (max-width: 678px) {
        .aharonov-effect__article-theory-box .theory-listing-details {
          width: 70%; } }
      .aharonov-effect__article-theory-box .theory-listing-details .theory-content {
        display: flex;
        justify-content: space-between;
        padding: 5em 7em;
        background-color: #a50034;
        color: white;
        z-index: 20;
        height: auto; }
        @media only screen and (max-width: 1000px) {
          .aharonov-effect__article-theory-box .theory-listing-details .theory-content {
            width: 65.5em; } }
        @media only screen and (max-width: 800px) {
          .aharonov-effect__article-theory-box .theory-listing-details .theory-content {
            width: 55.5em; } }
        @media only screen and (max-width: 678px) {
          .aharonov-effect__article-theory-box .theory-listing-details .theory-content {
            width: 100%;
            padding: 3em 3em;
            justify-content: space-around; } }
        @media only screen and (max-width: 425px) {
          .aharonov-effect__article-theory-box .theory-listing-details .theory-content {
            padding: 2em 5em; } }
        .aharonov-effect__article-theory-box .theory-listing-details .theory-content p {
          color: white; }
        .aharonov-effect__article-theory-box .theory-listing-details .theory-content .aharonov-effect__theory {
          width: 45em; }
        .aharonov-effect__article-theory-box .theory-listing-details .theory-content .theory-title {
          font-size: 2.8em;
          text-transform: uppercase;
          margin-bottom: 1em;
          color: white; }
        .aharonov-effect__article-theory-box .theory-listing-details .theory-content .theory-description {
          line-height: 1.5;
          font-size: 2em;
          font-weight: 300; }
        .aharonov-effect__article-theory-box .theory-listing-details .theory-content svg {
          width: 16em;
          margin-left: 3rem; }
        .aharonov-effect__article-theory-box .theory-listing-details .theory-content.five .aharonov-effect__theory {
          width: 50em; }
  .aharonov-effect__article-theory-box .rectangle-shape {
    position: absolute;
    height: 90%;
    bottom: -3em;
    right: 3em;
    width: 84.5em;
    z-index: -1; }
