#aharonov_effect-article.article-container {

  .aharonov-title {

    &__container {
      display: grid;
      grid-template-rows: repeat(2, auto) auto .5fr;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 0;
      grid-auto-columns: 0;
      height: 100vh;

      font-size: 1rem;

      @include respond(large) {
        font-size: .95rem;
      }
      @include respond(medium) {
        font-size: .9rem;
      }

      img {
        grid-row: 1 / span 4;
        grid-column: 1 / span 2;
        object-fit: contain;
        height: 100%;
        width: 100%;
        margin: 0 auto;
      }

      h1 {
        grid-row: 1 / span 2;
        grid-column: 1 / span 2;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1.75fr .25fr;
        grid-auto-rows: 0;
        grid-auto-columns: 0;
        justify-self: center;
        width: 5.25em;
        font-size: 14em;
        line-height: .75;
        z-index: 5;
        color: $color-secondary;

        @include respond(medium) {
          grid-template-columns: 52% 28%;
          grid-template-rows: 30% 30% 20%;
          width: 100%;
        }

        @include respond(small) {
          // font-size: 10em;
          grid-template-columns: 52% 48%;
        }

        @include respond(phone) {
          margin-top: 5em;
          font-size: 7em;
          line-height: 0.75;
        }

        span {
          display: block;
          text-transform: uppercase;
          font-family: 'futura-pt-condensed';
        }


        span:first-child {
          grid-row: 1 / span 1;
          grid-column: 1 / span 1;

          &:after {
            content: "";
            display: block;
            width: 14%;
            margin-left: -2%;
            border-bottom: 11px solid black;

            @include respond(phone) {
              margin-top: 0em;
              border-bottom: 5px solid black;
            }
          }
        }

        span:nth-child(2) {
          grid-row: 2 / span 1;
          grid-column: 1 / span 1;
        }

        span:first-child, span:nth-child(2) {
          @include respond(medium) {
            margin-left: 5%;
            margin-top: .5em;
          }
        }

        span:last-child {
          grid-row: 3 / span 1;
          grid-column: 2 / span 1;
          color: white;

          @include respond(small) {
            margin-left: .25em;
          }

          @include respond(phone) {
            margin-left: 0;
          }

          @include respond(medium) {
            // margin-left: 3em;
          }

          &:after {
            content: "";
            display: block;
            width: 50%;
            margin-left: 45%;
            border-bottom: 11px solid black;

            @include respond(phone) {
              margin-top: 0.5em;
              border-bottom: 5px solid black;
            }

            @include respond(medium) {
              width: 20%;
            }
          }
        }
      }
    }

    &__author {
      grid-row: 3 / span 1;
      grid-column: 2 / span 1;
      margin-left: 7em;
      color: white;
      font-size: 3.7em;
      text-transform: uppercase;

      @include respond(large) {
        font-size: 3.5em;
      }

      @include respond(medium) {
        grid-row: 2 / span 1;
        align-self: center;
      }

      @include respond(small) {
        justify-self: center;
        margin: 0 0 0 5em;
        font-size: 3.2em;
      }

      @include respond(phone) {
        font-size: 2.6em;
      }

    }

    &__description {
      grid-row: 4 / span 1;
      grid-column: 2 / span 1;
      align-self: center;
      width: 15em;
      margin-left: 12em;
      color: black;
      font-size: 2em;
      font-weight: 500;
      font-family: 'futura-pt';
      line-height: 1.25em;
      text-transform: uppercase;
      

      @include respond(large) {
        // margin: 0 0 0 18em;
        align-self: flex-start;
        justify-self: flex-end;
        margin-top: 1em;
        // width: 28em;
        // margin: 8em 0 0 0;
      }

      @include respond(medium) {
        margin-top: 0;
        // align-self: flex-end;
        // justify-self: center;
        // margin: 0 0 0 11em;
      }

      @include respond(small) {
        margin: 0 0 0 11em;
        font-size: 1.4em;
        width: 26em;      }

      @include respond(phone) {
        font-size: 1.2em;
        width: 17em;
        align-self: center;
        margin: 6em 0 5em 8em;
      }
    }

    &__desktop-img {
      @include respond(medium) {
        display: none;
      }
    }

    &__mobile-img {
      display: none;

      @include respond(medium) {
        display: block;
      }
    }
  }
}