#aharonov_effect-article.article-container {

  .aharonov-title {

    &__container {
      display: grid;
      grid-template-rows: repeat(5, auto);
      grid-template-columns: 55% 45%;
      grid-auto-rows: 0;
      grid-auto-columns: 0;
      height: 78em;

      font-size: 1rem;

      @media only screen and (max-width: 1500px) {
        grid-template-columns: 60% 40%;
      }

      @include respond(large) {
        font-size: .95rem;
        grid-template-rows: repeat(3, 15%) 25% 30%;
        grid-template-columns: 65% 35%;
      }

      @include respond(medium) {
        grid-template-rows: repeat(4, .25fr) .5fr;
        grid-template-columns: 55% 45%;
        font-size: .9rem;
      }

      @include respond(small) {
        height: 46em;
        font-size: .8rem;
      }

      @include respond(phone) {
        height: 45rem;
        font-size: .75rem;
      }

      img {
        grid-row: 1 / span 5;
        grid-column: 1 / span 2;
        object-fit: contain;
        height: 100%;
        width: auto;
        margin: 0 auto;

        @include respond(large) {
          height: 88%;
        }

        @include respond(small) {
          height: 95%;
        }

        @include respond(phone) {
          height: 90%;
        }
      }

      span {
        z-index: 10;
      }
      span p {
        font-size: 12em;
        font-weight: 500;
        font-family: futura-pt-condensed;
        line-height: .75;
        color: $color-secondary;
        text-transform: uppercase;

        @include respond(small) {
          font-size: 8em;
        }

      }

      span:first-child, span:nth-child(2) {
        align-self: center;
        width: 40em;
        margin-left: 55%;

        @media only screen and (max-width: 1500px) {
          margin-left: 50%;
        }

        @include respond(largest) {
          margin-left: 40%;
        }
        @include respond(large) {
          margin-left: 24%;
        }

        @include respond(medium) {
          margin-left: 15%;
        }

        @include respond(small) {
          margin-left: 35%;
        }

        @include respond(phone) {
          width: 19rem;
          margin-left: 22%;
        }
      }

      span:first-child {
        grid-row: 1 / span 1;
        grid-column: 1 / span 1;
      }

      span:nth-child(2) {
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
      }

      span:nth-child(3) {
        grid-row: 3 / span 1;
        grid-column: 2 / span 1;

        p {
          color: white;
        }
      }
    }

    &__author {
      grid-row: 4 / span 1;
      grid-column: 2 / span 1;
      color: white;
      font-size: 2.7em;
      text-transform: uppercase;

      @include respond(large) {
        font-size: 2.5em;
      }

      @include respond(small) {
        align-self: center;
        justify-self: flex-start;
        margin: 0;
        margin-right: 0;
        font-size: 3.2em;
      }

      @include respond(phone) {
        font-size: 2.6em;
      }

    }

    &__description {
      grid-row: 5 / span 1;
      grid-column: 2 / span 1;
      align-self: center;
      justify-self: flex-start;
      width: 19em;
      margin-left: 7em;
      color: black;
      font-size: 1.6em;
      font-weight: 500;
      font-family: 'futura-pt';
      line-height: 1.25em;
      text-transform: uppercase;
      

      @include respond(large) {
        // margin: 0 0 0 18em;
        align-self: flex-start;
        justify-self: flex-end;
        margin: 0;
        width: 18em;
      }

      @include respond(medium) {
        margin-top: 0;
      }

      @include respond(small) {
        justify-self: center;
        align-self: center;
        margin: 0 0 0 2em;
        font-size: 1.4em;
        width: 13em;      
      }

      @include respond(phone) {
        margin: 0 0 0 0;
        width: 12em;
        font-size: 1.2em;
        align-self: center;
      }
    }

    &__desktop-img {
      @include respond(medium) {
        display: none;
      }
    }

    &__mobile-img {
      display: none;

      @include respond(medium) {
        display: block;
      }
    }
  }
}